<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myportfolio.web.dao.ItemAttachMapper">
    <insert id="insert">
        insert into attach (uuid, uploadPath, fileName, fileType, ino)
        values (#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{ino})
    </insert>
    <select id="findByIno" resultType="ItemAttachDto">
        select * from attach where ino = #{ino}
    </select>
    <delete id="deleteAll" parameterType="int">
        delete from attach where ino = #{ino}
    </delete>
</mapper>